<div class="row">
    <div class="col-11">
        <h1>Login</h1>
    </div>
    <div class="col-1">
        <img src="/assets/cedarvilleLogo.png" alt="Cedarville University Logo" height="48" width="48" class="align-right"/>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
                <div class="col-12 section">
                    <div class="field">
                        <%= f.label :login, class: "label" %><br />
                        <%= f.text_field :login, autofocus: true, autocomplete: "email", class: "login" %>
                    </div>
                    <div class="field">
                        <%= f.label :password, class: "label" %><br />
                        <%= f.password_field :password, autocomplete: "current-password", class: "login" %>
                    </div>
                    <% if flash.alert %>
                        <%= flash.alert %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 centered actions">
                    <%= f.submit "Log In" %>
                </div>
                <div class="col-4"></div>
            </div>
        <% end %>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <%= render "devise/shared/links" %>
</div>